<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="name_input" name="album_name" class="form-control" type="text">
    <label for="year_name">Release year</label>
    <input id="year_input" name="year_name" class="form-control" type="text">
    <label for="genre_name">Genre</label>
    <input id="genre_input" name="genre_name" class="form-control" type="text">
    <label for="artist_name">Artist name</label>
    <input id="artist_name" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="danger">Go!</button>
</form>
